<!-- form.vtl -->
<h1>ca$h to coin$</h1>
<form action="/change" method="get">
  <div class="form-group">
    <label for="dollar-amount">enter your cash</label>
    <input id="dollar-amount" class="form-control" name="dollar-amount" type="text">
  </div>
  <button type="submit" class="btn-warning">Convert</button>
</form>
<!-- form.vtl -->
